@font-face {
    font-family: 'Playfair Display';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: 'Inconsolata';
    src: url(../fonts/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Light.ttf);
}

@font-face {
    font-family: 'Quintessential';
    src: url(../fonts/Quintessential-Regular.ttf);
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #808080FF;
    --red-color: #FF0000FF;
    --common-color: #626262;
    --nav-item-background: #ccc;
    --slider-text-color: #f2f2f2;
    --slider-text-background: #0000007F;
    --expand-collapse-color: #e31d1d;
    --dot-border-color: #ddd;
    --active-border-color: #667;
    --arrow-border-color: #CCCCCCFF;
    --arrow-border-color-hover: #575757FF;
    --cat-name-color: #b4ad9e;
    --grid-posts-background: #96b2f4;
    --outer-circle-background: #8383E0FF;
    --inner-circle-border: #4B4B4BFF;
    --inner-circle-shadow: #00000033;
    --project-background: #46a0b5;
    --project-background-hover: #FFFFFFD8;
    --modal-background: #0000007F;
    --view-project-modal-bg: #FFFFFFE5;
    --view-project-modal-border: #d9d5d5;
    --about-projects-color: #696969FF;
    --view-project-background: #FFFFFFE5;
    --footer-background: #f0f0f0;
}

* {
    box-sizing: border-box;
    margin-block-end: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: var(--common-color);
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    height: calc(100vh - 136px);
}

.main__comments {
    height: calc(100vh - 136px);
}

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 5px;
    flex-grow: 1;
    align-self: stretch;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.5;
}

h2 {
    margin: 1rem 0;
    font-size: 28px;
}

header {
    min-height: 50px;
    width: 100%;
}

nav {
    max-width: 1020px;
    max-height: 50px;
    margin: 0 auto;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-block: 10px;
}

.navbar-list a {
    text-decoration: none;
}

header .navbar-light {
    background-color: var(--white-color);
}

header .navbar-brand {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-size: 30px;
    color: var(--black-color);
    text-decoration: none;
}

header .nav-item {
    text-transform: uppercase;
    margin-inline-end: 100px;
}

li.nav-item.simple {
    letter-spacing: 1px;
}

header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: var(--nav-item-background);
    transform: scale(0);
    transition: all 0.3s;
} 

header .nav-item a:hover::after {
    transform: scale(1);
}

/* SLIDER */

.slider {
    position: relative;
    margin: auto;
    text-align: center;
    padding-block-start: 15px;
}

.slide {
    width: 100%;
    height: 0;
    padding-block-start: 66.64%;
    background-size: contain;
    background-repeat: no-repeat;
}

.slide1 {
    background-image: url(../image/slider_1.jpg);
}

.slide2 {
    background-image: url(../image/slider_2.jpg);
}

.slide3 {
    background-image: url(../image/slider_3.jpg);
}

.slide4 {
    background-image: url(../image/slider_4.jpg);
}

.image-sliderfade {
    width: 70%;
    margin: 0 auto;
}

.sbtn__expand {
    flex-direction: column-reverse;
}

.sbtn__collapse {
    flex-direction: column;
}

.slider__text {
    font-size: 14px;
    padding: 20px 35px;
    background: var(--slider-text-background);
    color: var(--slider-text-color);
    text-align: left;
    z-index: 1;
}

.sl__expand {
    margin-block-start: -60px;
    width: max-content;
    transition: background-color 0.8s ease-in-out;
}

.sl__collapse {
    background: var(--slider-text-background);
    width: 100%;
    transition: background-color 0.8s ease-in-out;
}

.collapse,
.expand {
    float: right;
    position: relative;
    margin-block-start: -15px;
    margin-inline-end: -15px;
}

.expand > span {
    position: absolute;
    text-decoration: none;
    border-width: 0 7px 12px 7px;
    border-color: transparent transparent var(--expand-collapse-color) transparent;
    border-style: solid;
    cursor: pointer;
    z-index: 2;
}

.collapse > span {
    position: absolute;
    text-decoration: none;
    border-width: 12px 7px 0 7px;
    border-color: var(--expand-collapse-color) transparent transparent transparent;
    border-style: solid;
    z-index: 2;
    cursor: pointer;
    margin-block-start: 2px;
}

.expand > span:hover {
    border-color: transparent transparent var(--white-color) transparent;
}

.collapse > span:hover {
    border-color: var(--white-color) transparent transparent transparent;
}

.content {
    width: 100%;
    height: 100%;
    text-align: center;
}

div.slider__text.sl__collapse div.content p {
    font-size: 16px;
    text-align: justify;
}

div.slider__text.sl__collapse div.content ul {
    font-size: 16px;
    text-align: left;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border-color: var(--dot-border-color);
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    transition: border-color 0.6s ease;
    cursor: pointer;
}

.skill_level {
    font-size: 28px;
    line-height: 28px;
}

.active {
    border-color: var(--active-border-color);
}

.dot__circle {
    margin-block-start: 7px;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-image;
    animation-duration: 1.5s;
}

.arrow {
    width: 0;
    height: 0;
    inset-block-start: 50%;
    margin-block-start: -35px;
    cursor: pointer;
    position: absolute;
    border-style: solid;
}

.arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent var(--arrow-border-color) transparent transparent;
    inset-inline-start: 0;
    margin-inline-start: 20px;
}

.arrow-left:hover {
    border-color: transparent var(--arrow-border-color-hover) transparent transparent;
}

.arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent var(--arrow-border-color);
    inset-inline-end: 0;
    margin-inline-end: 20px;
}

.arrow-right:hover {
    border-color: transparent transparent transparent var(--arrow-border-color-hover);
}

/* CONTENT */

.cat-name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: var(--cat-name-color);
    text-transform: uppercase;
    font-weight: 300;
}

.cat-title {
    color: var(--common-color)
}

.cat-post h2, 
.cat-post h3 {
    margin-inline-start: 10px;
}

.cat-post p {
    text-align: justify;
    font-family: 'Inconsolata', serif;
    font-size: 16px;
    font-weight: 500;
    margin-inline: 20px;
}

.cat-post ul li {
    margin-block-end: 5px;
}

.single-post p {
    text-align: justify;
    font-family: 'Inconsolata', sans-serif;
    font-size: 16px;
    margin-inline: 20px;
}

.single-post h2 {
    margin-inline-start: 10px;
}

.single-post h3 {
    margin-inline: 20px;
}

.progress,
.previous {
    margin-inline-start: 20px;
}

.previous > div p {
    margin-inline-start: 0;
}

.progress h4,
.previous > div {
    margin-inline-start: 40px;
}

.progress > div div {
    margin-inline-start: 60px;
}

/* PORTFOLIO PART */

.grid-posts {
    display: block;
    margin-block: 10px 25px;
    width: 100%;
}

.grid-posts .card {
    border: 0;
    margin: 0;
}

.grid-posts .card-body {
    height: 60%;
    float: right;
    position: relative;
    padding-inline: 0;
    width: calc(100% - 100px);
    background-color: var(--grid-posts-background);
    inset-block-start: 50%;
    transform: translateY(-50%);
}

.grid-posts .card-body .cb__start {
    height: 100%;
    width: 20px;
    border-width: 48px 0 48px 20px;
    border-color: transparent transparent transparent var(--white-color);
    border-style: solid;
    float: left;
}

.grid-posts .card-body .cb__text {
    height: 100%;
    display: inline-block;
    width: calc(100% - 70px);
    padding-inline: 2px;
    text-align: left;
    font-family: Tahoma, serif;
    font-weight: 600;
    font-size: 22px;
    color: var(--white-color);
    margin: 0 auto;
}

.cb__text > div {
    position: relative;
    padding-inline: 10px 5px;
    inset-block-start: 50%;
    transform: translateY(-50%);
}

.grid-posts .card-body .cb__end {
    height: 100%;
    width: 45px;
    background: var(--white-color);
    border-width: 49px 0 48px 44px;
    border-color: transparent transparent transparent var(--grid-posts-background);
    border-style: solid;
    float: right;
}

.load-more {
    padding: 1rem 2rem;
    border-color: var(--common-color);
}

.load-more span {
    display: none;
}

.current__project {
    width: 100%;
    height: 500px;
}

.current__project .wrapper {
    height: calc((100% - 120px)/2 + 145px);
    width: 40%;
    position: relative;
    inset-block-start: 50%;
    transform: translateY(-50%);
    float: right;
}

.current__project .wrapper1 {
    height: 100%;
    width: 40%;
    float: right;
}

.project_circle {
    width:90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    inset-block-start: 50%;
    transform: translateY(-50%);
    float: left;
}

.main_circle {
    width:120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    inset-block-start: 50%;
    transform: translateY(-50%);
    padding-block: 5px;
    padding-inline-end: 5px;
}

.outer__circle {
    position: relative;
    border-radius: 50%;
    border-style: none;
    background-color: var(--outer-circle-background);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.inner__circle {
    position: relative;
    inset-block-start: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border: 1px solid var(--inner-circle-border);
    background-color: white;
    width: 85%;
    height: 85%;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px var(--inner-circle-shadow);
}

.first__project {
    background-image: url(../image/PHP-logo.png);
    background-size: contain;
    cursor: pointer;
}

.first__project:hover {
    background-color: var(--project-background-hover);
}

.second__project {
    background-image: url(../image/Angular_full_color_logo.png);
    background-size: contain;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

.second__project:hover {
    background-color: var(--project-background-hover);
}

.third__project {
    background-image: url(../image/laravel.png);
    background-size: contain;
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.third__project:hover {
    background-color: var(--project-background-hover);
}

.sel__project {
    background-image: url(../image/MainCircle.jpg);
    background-size: cover;
}

.premodal {
    height: inherit;
    position: absolute;
}

.modal {
    inset:0;
    height: auto;
    position: fixed;
    background: var(--modal-background);
    opacity: 1;
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: auto;
    margin: 0;
    padding: 0;
    z-index: 1050;
}

.view_project_modal {
    width: 335px;
    height: 500px;
    margin: 0 auto;
    position: relative;
    inset-block-start: 50%;
    background-color: var(--view-project-modal-bg);
    border: 2px solid var(--view-project-modal-border);
    border-radius: 10px;
    transform: translateY(-50%);
}

.top__line {
    width: 50%;
    position: relative;
    inset-block-start: 0;
    float: right;
    border-top: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    border-top-left-radius: 6px;
    height: calc((100% - 120px)/2);
}

.bottom__line {
    width: 50%;
    position: relative;
    inset-block-start: calc((100% - 120px)/2);
    border-bottom: 1px solid var(--gray-color);
    border-left: 1px solid var(--gray-color);
    border-bottom-left-radius: 6px;
    margin-inline-start: 50%;
    height: calc((100% - 120px)/2);
}

.center__line {
    height: 1px;
    width: calc(50% - 60px);
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 0;
    transform: translateY(-50%);
    background-color: var(--gray-color);
}

.top__line .start__point {
    float: left;
    width: 6px;
    height: 6px;
    margin-inline-start: -3px;
    border-radius: 50%;
    background-color: var(--black-color);
    inset-block-start: calc(100% - 6px);
    position: absolute;
}

.top__line .end__point {
    float: right;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--black-color);
    inset-block-start: -3px;
    position: relative;
}

.center__line .start__point {
    float: left;
    width: 6px;
    height: 6px;
    position: absolute;
    margin-inline-start: -1px;
    border-radius: 50%;
    background-color: black;
    inset-block-start: -3px;
}

.center__line .end__point {
    width: 6px;
    height: 6px;
    position: absolute;
    inset-inline-end: 0;
    margin-inline-start: 100%;
    inset-block-start: -3px;
    border-radius: 50%;
    background-color: black;
}

.bottom__line .start__point {
    float: left;
    width: 6px;
    height: 6px;
    margin-inline-start: -3px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.bottom__line .end__point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    margin-inline-start: 100%;
    inset-block-start: calc(100% - 3px);
    inset-inline-end: 0;
}

.projects {
    width: 100%;
    height: 100%;
    float: left;
    display: flex;
    position: relative;
    flex-direction: column;
}

.project {
    width: 100%;
    height: calc(100%/3.3);
    min-height: 162px;
    padding-inline-start: 5px;
}

.about-projects {
    float: left;
    width: 335px;
    height: inherit;
    position: absolute;
    text-align: center;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Inconsolata', serif;
    padding-inline-start: 3px;
    color: var(--about-projects-color);
}

.about-projects p {
    line-height: 34px !important;
}

.view_project {
    float: left;
    width: 335px;
    background-color: var(--view-project-background);
    height: inherit;
    position: absolute;
    border: 2px solid var(--view-project-modal-border);
    border-radius: 10px;
} 

.first-project,
.second-project,
.third-project {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    font-family: cursive;
}

.first-project img,
.second-project img,
.third-project img {
    width: 90%;
    margin-block: 10px 20px;
    align-self: center;
}

.first-project div:nth-child(2),
.second-project div:nth-child(2),
.third-project div:nth-child(2) {
    flex-grow: 1;
    align-self: stretch;
    padding-inline: 10px;
    font-size: 18px;
    line-height: 35px;
}

.first-project div:nth-child(2) > div,
.second-project div:nth-child(2) > div,
.third-project div:nth-child(2) > div {
    position: relative;
    inset-block-start: 50%;
    transform: translateY(-50%);
}

.first-project div:nth-child(3),
.second-project div:nth-child(3),
.third-project div:nth-child(3) {
    padding-inline: 10px;
    margin-block-end: 10px;
}

.first-project div:nth-child(3) a:nth-child(1),
.second-project div:nth-child(3) a:nth-child(1),
.third-project div:nth-child(3) a:nth-child(1) {
    float: left;
    padding: 6px;
    margin-inline-start: 20px;
    background-color: var(--project-background);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: var(--white-color);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.first-project div:nth-child(3) a:nth-child(2),
.second-project div:nth-child(3) a:nth-child(2),
.third-project div:nth-child(3) a:nth-child(2) {
    float: right;
    padding: 6px;
    margin-inline-end: 20px;
    background-color: var(--red-color);
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
    color: var(--white-color);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

/* FOOTER PART */

footer {
    display: flex;
    height: 70px;
    max-height: 70px;
    background-color: var(--footer-background);
    color: var(--black-color);
    font-family: 'Inconsolata', serif;
    text-align: center;
}

footer > div {
    display: flex;
    width: 100%;
    max-width: 1020px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}

.footer-left {
    position: relative;
    color: var(--common-color);
}

.footer-left a {
    margin-inline-end: 20px;
    text-decoration: none;
    font-style: italic;
    color: black;
}

.footer-left a:hover {
    color: var(--common-color);
}

.footer-right {
    float: right;
    position: relative;
}

.footer-right a {
    color: var(--common-color);
    margin-inline-start: 20px;
    text-decoration: none;
}

@-webkit-keyframes fade-image {
    from {opacity: 0.4}
    to {opacity: 1}
}

@keyframes fade-image {
    from {opacity: 0.4}
    to {opacity: 1}
} 

/* SERVICE */

.hide {
    display: none;
}

.show {
    display: flex;
}

/* MOBILE AND SMALL SCREEN DEVICES */

/* Medium Devices, Desktops */
@media only screen and (max-width: 1199px) {
    .grid-posts .card-img-top {
        max-height: 300px;
        border-radius: 0;
    }
}

@media only screen and (max-width: 1099px) {
    nav {
        padding: 0 15px;
    }

    .container {
        padding: 0 15px;
    }

    .grid-posts .card-body .cb__text {
        font-size: 18px;
    }

    .current__project .wrapper {
        width: 38%;
    }

    footer > div {
        padding-inline: 15px;
        text-align: center;
    }
}

@media only screen and (max-width: 991px) {
    header .nav-item {
        margin-inline-start: 0;
    }

    .grid-posts .card-img-top {
        max-height: 220px;
        border-radius: 0;
    }

    .current__project .wrapper {
        display: none;
    }

    .current__project .wrapper1 {
        max-width: 60%;
        width: inherit;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 839px) {
    .navbar-list {
        line-height: 30px;
    }

    .current__project {
        display: flex;
    }

    .about-projects {
        display: none;
    }

    .current__project .wrapper1 {
        margin: 0 auto;
        max-width: 70%;
    }

    .content h2 {
        margin: 0;
    }

    div.slider__text.sl__collapse div.content p {
        line-height: 20px;
        margin-block-start: 10px;
    }

    div.slider__text.sl__collapse div.content ul {
        margin-block-start: 5px;
    }

    .cat-post p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 767px) {
    h2 {
        font-size: 28px;
    }

    p {
        margin-inline: 10px;
    }

    .content h2 {
        margin: -7px;
        font-size: 26px;
    }

    div.slider__text.sl__collapse {
        padding: 15px 20px;
    }

    div.slider__text.sl__collapse div.content p {
        font-size: 13px;
        line-height: 18px;
        margin-block-start: 5px;
    }

    div.slider__text.sl__collapse div.content ul {
        font-size: 13px;
        margin-block-start: 5px;
    }

    .collapse {
        margin-block-start: -10px;
        margin-inline-end: 0;
    }

    .grid-posts,
    .grid-posts .card {
        margin-block: 30px;
    }

    .grid-posts .card-img-top {
        max-height: 100%;
        border-radius: 0;
    }

    .current__project .wrapper1 {
        margin: 0 auto;
        max-width: 75%;
    }

    .previous {
        margin-inline-start: 0;
    }

    .progress h4,
    .previous > div {
        margin-inline-start: 20px;
    }

    .progress,
    .progress > div {
        margin-inline-start: 0;
    }

    .progress h4,
    .progress > div div {
        margin-inline-start: 20px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
    .navbar-list {
        font-size: 11px;
    }

    h2 {
        font-size: 26px;
    }

    .container {
        padding: 0;
    }

    .main__comments {
        height: calc(100vh - 110px);
    }

    .current__project .wrapper1 {
        margin: 0 auto;
        max-width: 80%;
    }

    .content h2 {
        margin: -5px;
        font-size: 24px;
    }

    div.slider__text.sl__collapse div.content p {
        line-height: 18px;
        font-size: 12px;
        margin-block-start: 2px;
    }

    div.slider__text.sl__collapse {
        padding: 15px 20px;
    }

    div.slider__text.sl__collapse div.content ul {
        font-size: 12px;
        margin-block-start: 2px;
    }

    .collapse {
        margin-block-start: -10px;
        margin-inline-end: 0;
    }

    footer {
        height: 45px;
    }

    footer > div {
        padding-inline: 15px;
        text-align: center;
    }

   .footer-left {
       margin-block-end: 5px;
       margin-inline: 0;
       float: unset;
   }

   .footer-right {
       margin-block-end: 5px;
       margin-inline-end: unset;
       float: unset;
   }
}

@media only screen and (max-width: 480px) {
    h2 {
        margin: 10px 0;
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
        margin-block-start: 5px;
    }

    .navbar-list { 
        display: none;
    }

    div.slider__text.sl__collapse {
        font-size: 10px;
        padding: 5px 10px;
    }

    div.slider__text.sl__expand {
        font-size: 10px;
        padding-block: 15px;
        padding-inline: 10px 25px;
    }

    .content h2 {
        font-size: 12px;
        margin: -3px 0;
    }

    div.slider__text.sl__collapse div.content p {
        font-size: 8px;
        text-align: justify;
        line-height: 10px;
        padding-inline: 5px;
        margin-block-start: 4px;
    }

    div.slider__text.sl__collapse div.content ul {
        font-size: 8px;
        text-align: left;
        padding-inline-start: 23px;
        margin-block-start: 4px;
    }

    .skill_level {
        font-size: 13px;
        line-height: 18px;
    } 

    .sl__expand {
        margin-block-start: -45px;
    }

    .expand {
        margin-block-start: -10px;
        margin-inline-end: -5px;
    }

    .collapse {
        margin-block-start: 0;
        margin-inline-end: 10px;
    }

    .arrow-right {
        margin-inline-end: 12px;
    }

    ,arrow-left {
        margin-inline-start: 12px;
    }

    .single-post p {
        margin-block-start: 5px;
        font-size: 13px;
    }

    .cat-post p {
        padding: 0 3px;
        font-size: 15px;
        line-height: 1.2rem;
    }

    .cat-post h3 {
        font-size: 13px;
    }

    .grid-posts {
        margin-block-start: 10px;
    }

    .grid-posts .card-body .cb__text {
        font-size: 16px;
    }

    footer {
        padding: 5px 0;
        margin-block-start: 5px;
    }

    .footer-left {
        margin-block-end: 5px;
        margin-inline-end: 0;
        float: unset;
        margin-inline-start: unset;
    }

    .footer-right {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Extra Super Small Devices aka Galaxy Fold */
@media only screen and (max-width: 300px) {
    body {
        margin-inline: 2px;
    }

    h2 {
        margin: 10px 0;
        font-size: 18px;
    }

    h3 {
        font-size: 14px;
        margin-block-start: 5px;
    }

    .content h2 { 
        font-size: 10px;
    }

    div.slider__text.sl__collapse {
        padding: 5px;
    }

    div.slider__text.sl__collapse div.content p {
        padding-inline: 0;
        margin: 0;
        font-size: 7px;
        line-height: 9px;
    }

    div.slider__text.sl__collapse div.content ul {
        font-size: 7px;
        padding-inline-start: 15px;
        margin-block-start: 0;
    }

    .skill_level {
        margin-inline-start: 5px;
    }

    .collapse {
        margin-inline-end: 15px;
    } 

    .arrow-right {
        margin-inline-end: 3px;
    }

    .arrow-left {
        margin-inline-start: 3px;
    }

    .current__project .wrapper1 {
        max-width: 95%;

    }

    .grid-posts .card-body .cb__text {
        font-size: 14px;
    }

    .cb__text > div {
        padding-inline: 5px 0;
    }

    .single-post p {
        font-size: 12px;
        margin-inline: 5px;
    }
    
    .single-post h2 {
        margin-inline-start: 5px;
    }
    
    .single-post h3 {
        margin-inline: 5px;
    }

    .cat-post h2, 
    .cat-post h3 {
        margin-inline-start: 5px;
    }

    .cat-post p {
        font-size: 15px;
        font-weight: 500;
        margin-inline: 0 5px;
    }

    .view_project_modal {
        width: 100%;
        height: 550px;
    }
    .previous h4,
    .previous > div {
        margin-inline-start: 0;
    }

    .progress h4,
    .progress > div div {
        margin-inline-start: 0;
    }

    footer {
        font-size: 12px;
    }

    .footer-left a {
        margin-inline-end: 0;
    }
}

/* STYLES By The Height of The Screens */

@media only screen and (max-height: 720px) {
    .main__comments {
        height: calc(100vh - 35px);
    }
}

@media only screen and (max-height: 667px) {
    .main__comments {
        height: calc(100vh - 110px);
    }
}

@media only screen and (max-height: 653px) {
    .main__comments {
        height: calc(100vh - 35px);
    }
}