<div class="row">

    <!-- SIDEBAR -->

    <div ng-include src="'partials/include/sidebar.html' "></div>


    <div class="col-md-9 " style="margin-top:0px;font-size:small;">

        <div ng-include src="'partials/include/pageheader.html' "></div>

        <!-- First ROW -->
        <div class="row" style="padding-top:55px;">

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text1[checkLang()]}}</strong></p>
                <img src="images/bal.jpg">
                <p style="text-align: justify;">{{langCtrlData.text2[checkLang()]}}</p>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text3[checkLang()]}}</strong></p>
                <img src="images/kolonnes.jpg">
                <p style="text-align: justify;">{{langCtrlData.text4[checkLang()]}}</p>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text5[checkLang()]}}</strong></p>
                <img src="images/vase.jpg">
                <p style="text-align: justify;"> {{langCtrlData.text6[checkLang()]}}</p>
            </div>

        </div>

        <!-- Second ROW -->
        <div class="row" style="padding-top:10px;">

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text7[checkLang()]}}</strong></p>
                <img src="images/cvetnik.jpg">
                <p style="text-align: justify;">{{langCtrlData.text8[checkLang()]}}</p>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text9[checkLang()]}}</strong></p>
                <img src="images/gball.jpg">
                <p style="text-align: justify;">{{langCtrlData.text10[checkLang()]}}</p>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text11[checkLang()]}}</strong></p>
                <img src="images/lampada.jpg">
                <p style="text-align: justify;">{{langCtrlData.text12[checkLang()]}}</p>
            </div>


        </div>

        <!-- Third ROW -->
        <div class="row" style="padding-top:10px;">

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text14[checkLang()]}}</strong></p>
                <img src="images/table.jpg" style="width:230px;">
                <p style="text-align: justify;padding-top: 5px;">{{langCtrlData.text17[checkLang()]}}</p>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text15[checkLang()]}}</strong></p>
                <img src="images/bench.jpg" style="width:230px;">
                <p style="text-align: justify;padding-top: 5px;">{{langCtrlData.text18[checkLang()]}}</p>
            </div>

            <div class="col-md-4" style="text-align: center;">
                <p><strong>{{langCtrlData.text16[checkLang()]}}</strong></p>
                <img src="images/desk.jpg" style="width:230px;">
                <p style="text-align: justify;padding-top: 5px;">{{langCtrlData.text19[checkLang()]}}</p>
            </div>


        </div>

        <div class="row" style="padding-top:10px;">
            <p style="text-align: justify;padding-top:10px;"><em>{{langCtrlData.text13[checkLang()]}}</em></p>
        </div>
    </div>

</div>    