<div class="row">

    <div ng-include src="'partials/include/sidebar.html' "></div>

    <!--      <div class="col-md-3">
             <div class="nav" style="padding-top:10px; padding-bottom:10px;">
            <ul class="nav" style="width:240px;border-right: 2px solid #E6E6FA;padding-right: 10px;padding-left: 10px;">


              <li><a href="#" class="nav">Наша доставка</a></li>
              <li class="disabled" style="padding-left:7px;"><a href="#" class="nav lead caption">Самовывоз</a></li>
              <li><a href="#" class="nav">"Новая почта"</a></li>
              <li><a href="#" class="nav">"Укрпочта"</a></li>
           </ul>
                 </div>
          </div> -->

    <div class="col-md-9 " style="margin-top:0px;">
        <div class="row " style="text-align: right;margin-top: 0px;margin-bottom: 20px;">
            <h3><span class="well well-sm "> ДОСТАВКА</span></h3>
        </div>

        <div class="row">
            Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.
            Nullam id dolor id nibh ultricies vehicula ut id elit.
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
            Praesent commodo cursus magna.
        </div>

    </div>

</div>    
    