  
      <div class="row">
          
          <div ng-include src="'partials/include/sidebar.html' "></div>
         
 
<div class="col-md-9 " style="margin-top:0px;">
         
            <div ng-include src="'partials/include/pageheader.html' "></div>

          <div class="row" style="padding-top:50px;font-size:small;">
                        <p style="text-align: justify;padding-left:20px;">{{langCtrlData.text1[checkLang()]}}</p>

                        <div class="row">

                                    <div class="col-md-4" style="text-align: center">    
                                                <p><strong>{{langCtrlData.text2[checkLang()]}}</strong></p>
                                                <img src="images/Gabbro.png">
                                    </div>
                                    <div class="col-md-8" style="text-align: justify;padding-top:50px;">
                                                {{langCtrlData.text3[checkLang()]}}
                                    </div>
    
                        </div> <!-- END of inner class ROW -->

                        <div class="row">

                                    <div class="col-md-4" style="text-align: center;">    
                                                <p><strong>{{langCtrlData.text4[checkLang()]}}</strong></p>
                                                <img src="images/Pokost.png">
                                    </div>
                                    <div class="col-md-8" style="text-align: justify;padding-top:35px;">
                                                {{langCtrlData.text5[checkLang()]}}
                                    </div>
    
                        </div> <!-- END of inner class ROW -->

                        <div class="row">

                        <div class="col-md-4" style="text-align: center;">    
                                    <p><strong>{{langCtrlData.text6[checkLang()]}}</strong></p>
                                    <img src="images/Kapust.png">
                        </div>
                        
                        <div class="col-md-8" style="text-align: justify;padding-top:45px;">
                                    {{langCtrlData.text7[checkLang()]}}
                        </div>
    
                        </div> <!-- END of inner class ROW -->

<div class="row">

            <div class="col-md-4" style="text-align: center;">    
                        <p><strong>{{langCtrlData.text8[checkLang()]}}</strong></p>
                        <img src="images/Volga.png">
            </div>
            <div class="col-md-8" style="text-align: justify;padding-top:30px;">

{{langCtrlData.text9[checkLang()]}}
</div>
    
</div> <!-- END of inner class ROW -->

<div class="row">

            <div class="col-md-4" style="text-align: center;">    
                        <p><strong>{{langCtrlData.text10[checkLang()]}}</strong></p>
                        <img src="images/Bazalt.png">
            </div>
            <div class="col-md-8" style="text-align: justify;padding-top:45px;">

{{langCtrlData.text11[checkLang()]}}
</div>
    
</div> <!-- END of inner class ROW -->

<p>{{langCtrlData.text12[checkLang()]}}</p>
<ul class="col-md-offset-1">
<li>{{langCtrlData.text13[checkLang()]}}</li>
<li>{{langCtrlData.text14[checkLang()]}}</li>
<li>{{langCtrlData.text15[checkLang()]}}</li>
<li>{{langCtrlData.text16[checkLang()]}}</li>
</ul>




</div>
          
</div>    