<!-- Modal -->
<div aria-hidden="true" class="modal fade" id="gconcrete" role="dialog" tabindex="-1">
    <div class="modal-dialog" style="{{ imgWidth }} padding-top:5px;padding-bottom:5px;">
        <div class="modal-content" style="padding-top:5px;padding-bottom:0px;">
            <div class="modal-header" style="padding-top:4px;padding-bottom:5px;">
                <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="clearPicture()" type="button">
                    &times;
                </button>
                <h5 class="modal-title"><strong>{{ picture.caption[checkLang()] }}</strong></h5>
            </div>
            <div class="modal-body"
                 style="  text-align: center; padding-top:14px;padding-bottom:0px;vertical-align:middle;">
                <img alt="   " src="{{ picture.imageURL }}" style="{{imgHeight}}">
            </div>
            <div class="modal-footer " style="text-align: left;padding-top:5px;padding-bottom:5px;">
                <small>{{ picture.description[checkLang()]}}</small>
                <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>


<div class="row">

    <div ng-include src="'/partials/include/sidebar.html' "></div>

    <div class="col-md-9 " style="margin-top:0px;">

        <div ng-include src="'/partials/include/pageheader.html' "></div>

        <div class="row" style="padding-top:60px;">

            <div class="col-xs-3 col-md-3" ng-repeat="img in images">
                <div class="thumbnail"
                     style="text-align:center;padding-bottom: 4px; margin-bottom: 0px; height: 150px;line-height:140px;">
                    <a data-toggle="modal" href="#gconcrete" ng-click="setPicture(img)">
                        <img alt="{{ img.caption[checkLang()] }}" ng-src="{{ img.thumbURL }}"
                             style="display:inline-block;line-height:1.2;vertcal-align:middle;">
                    </a>

                </div>
                <p style="padding-top:5px;padding-bottom: 3px;text-align: center;font-size:small">{{
                    img.caption[checkLang()] }}</p>
            </div>


        </div>

        <div class="row text-center">
            <ul class="pagination pagination-sm" ng-repeat="pg in setPlinks()">

                <li><a href="" ng-click="fillIMG(pg)" style="margin-left:2px;margin-right:2px;"> {{ pg }}</a></li>
            </ul>
        </div>

    </div>

</div>