<div class="row">

    <div ng-include src="'partials/include/sidebar.html' "></div>


    <div class="col-md-9 " style="margin-top:0px;">

        <div ng-include src="'partials/include/pageheader.html' "></div>

        <div class="row"
             style="text-align:justify;padding-top:50px;font-size:small;padding-left:20px;padding-right: 5px;">

            <p>{{langCtrlData.text1[checkLang()]}}</p>
            <ul class="col-md-offset-1">
                <li>{{langCtrlData.text2[checkLang()]}}</li>
                <li>{{langCtrlData.text3[checkLang()]}}</li>
                <li>{{langCtrlData.text4[checkLang()]}}</li>
            </ul>

            <p><strong>{{langCtrlData.text2[checkLang()]}}</strong></p>

            <p>{{langCtrlData.text5[checkLang()]}}</p>
            <ul class="col-md-offset-1">
                <li>{{langCtrlData.text6[checkLang()]}}</li>
                <li>{{langCtrlData.text7[checkLang()]}}</li>
                <li>{{langCtrlData.text8[checkLang()]}}</li>
            </ul>

            <div class="alert alert-warning">
                <p class="glyphicon glyphicon-info-sign" style="text-align: justify;">&nbsp;&nbsp;{{langCtrlData.text9[checkLang()]}}</p>
            </div>

            <div class="row">

                <div class="col-md-6 text-center">

                    <img alt="Sample Gravir" src="images/Grav_sample.jpg">
                    <p><small><strong>{{langCtrlData.text10[checkLang()]}}</strong></small></p>
                </div>

                <div class="col-md-6 text-center">

                    <img alt="Sample Gravir" src="images/Grav_sample1.jpg">
                    <p><small><strong>{{langCtrlData.text11[checkLang()]}}</strong></small></p>
                </div>

            </div>

            <p><strong>{{langCtrlData.text3[checkLang()]}}</strong></p>

            <div class="col-md-6 text-center" style="float: right;">

                <img alt="Sample landscape" src="images/landscape.jpg" style="width:100%; max-width: 349px;">
                <p><small><strong>{{langCtrlData.text18[checkLang()]}}</strong></small></p>
            </div>
            <p style="padding-bottom:15px;">{{langCtrlData.text12[checkLang()]}}</p>


            <div class="alert alert-warning">
                <p class="glyphicon glyphicon-info-sign" style="text-align: justify;">&nbsp;&nbsp;{{langCtrlData.text13[checkLang()]}}</p>
            </div>


            <p><strong>{{langCtrlData.text4[checkLang()]}}</strong></p>
            <p>{{langCtrlData.text14[checkLang()]}}</p>

            <p>{{langCtrlData.text15[checkLang()]}}</p>

            <div class="alert alert-warning">
                <p class="glyphicon glyphicon-info-sign" style="text-align: justify;">&nbsp;&nbsp;{{langCtrlData.text16[checkLang()]}}</p>
            </div>

            <div class="row text-center" style="width: 100%;">

                <img alt="Sample 3D" src="images/3D.jpg">
                <p><small><strong>{{langCtrlData.text17[checkLang()]}}</strong></small></p>

            </div>

        </div>  <!-- end of inner block of page (all that below header) -->

    </div>
</div>   <!-- end of inner block-->