<!-- Тело главной страницы -->

<!-- Wrap the rest of the page in another container to center all the content. <div id="vertical-child">-->


<!-- Three columns of text below the carousel -->
<div class="row marketing container">

    <div class="col-lg-4" style="display:block;min-height:350px;max-width:450px;padding:0 auto;margin:0 auto;">
        <img alt="140x140" class="img-circle" src="images/img1.jpg"
             style="width: 140px; height: 140px;border: 1px solid gray;">
        <h4><strong>{{langCtrlData.box1caption[checkLang()]}}</strong></h4>
        <p style="text-align:justify;font-size:small;">{{langCtrlData.box1content[checkLang()]}}</p>
        <p style="position:absolute;width:100%;left:0px;bottom:0px;"><a class="btn btn-default" href="#/memorials"
                                                                        role="button">{{langCtrlData.button[checkLang()]}}</a>
        </p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4" style="display:block;min-height:350px;max-width:450px;padding:0 auto;margin: 0 auto;">
        <img alt="140x140" class="img-circle" src="images/img2.jpg"
             style="width: 140px; height: 140px;border: 1px solid gray;">
        <h4><strong>{{langCtrlData.box2caption[checkLang()]}}</strong></h4>
        <p style="text-align:justify;font-size:small;">{{langCtrlData.box2content[checkLang()]}}</p>
        <p style="position:absolute;width:100%;left:0px;bottom:0px;"><a class="btn btn-default" href="#/graver"
                                                                        role="button">{{langCtrlData.button[checkLang()]}}</a>
        </p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4" style="display:block;min-height:350px;max-width:450px;padding:0 auto;margin: 0 auto;">
        <img alt="140x140" class="img-circle" src="images/img3.jpg"
             style="width: 140px; height: 140px;border: 1px solid gray;">
        <h4><strong>{{langCtrlData.box3caption[checkLang()]}}</strong></h4>
        <p style="text-align:justify;font-size:small;">{{langCtrlData.box3content[checkLang()]}}</p>
        <p style="position:absolute;width:100%;left:0px;bottom:0px;"><a class="btn btn-default" href="#/services"
                                                                        role="button">{{langCtrlData.button[checkLang()]}}</a>
        </p>
    </div><!-- /.col-lg-4 -->

</div><!-- /.row -->


<!-- End div of container  </div>-->
      
