  
      <div class="row">
          
          <div ng-include src="'partials/include/sidebar.html' "></div>
         
 
<div class="col-md-9 " style="margin-top:0px;">
           
            <div ng-include src="'partials/include/pageheader.html' "></div>
            
          <div class="row" style="padding-top:50px;">
              
              <p style="padding-left:15px;"><small>{{langCtrlData.text1[checkLang()]}}</small></p>
              
              <div class="col-md-3" style="text-align:center;">
                  <p><strong><small>{{langCtrlData.text2[checkLang()]}}</small></strong></p>
                  <img src="images/uno.jpg">
                  <p><small>{{langCtrlData.text3[checkLang()]}}</small></p>
              </div>    
              
              <div class="col-md-5" style="text-align:center;">
                  <p><strong><small>{{langCtrlData.text4[checkLang()]}}</small></strong></p>
                  <img src="images/duos.jpg"  style="padding-top: 75px;width:280px;">
                  <p><small>{{langCtrlData.text5[checkLang()]}}</small></p>
              </div>
              
              <div class="col-md-4 pull-right" style="text-align:center;">
                  <p><strong><small>{{langCtrlData.text6[checkLang()]}}</small></strong></p>
                  <img src="images/complex.jpg"  style="padding-top: 8px;width:240px;">
                  <p><small>{{langCtrlData.text7[checkLang()]}}</small></p>
              </div>
              
          </div>

            <div class="alert alert-warning">
<p class="glyphicon glyphicon-info-sign" style="text-align: justify;font-size:small;">&nbsp;&nbsp;{{langCtrlData.text8[checkLang()]}}</p>
</div>
            <p><small>{{langCtrlData.text9[checkLang()]}}</small></p>
            <p><small>{{langCtrlData.text10[checkLang()]}}</small></p>
              <div class="row">
              
              <div class="col-md-4" style="text-align:center;">
    
                  <img src="images/var1.jpg">
                  <p><small>{{langCtrlData.text11[checkLang()]}}</small></p>
              </div>    
              
              <div class="col-md-4" style="text-align:center;">
    
                  <img src="images/var2.jpg">
                  <p><small>{{langCtrlData.text12[checkLang()]}}</small></p>
              </div>
              
              <div class="col-md-4" style="text-align:center;">
               
                  <img src="images/var3.jpg">
                  <p><small>{{langCtrlData.text13[checkLang()]}}</small></p>
              </div>
              
          </div>
</div>
          
</div>    