<div class="row">

    <div ng-include src="'partials/include/sidebar.html' "></div>


    <div class="col-md-9 " style="margin-top:0px;font-size:small;">

        <div ng-include src="'partials/include/pageheader.html' "></div>

        <div class="col-md-7" style="margin-top:20px;padding-top:50px;">

            <p style="text-align:justify;">{{langCtrlData.text1[checkLang()]}}</p>
            <p style="text-align:justify;">{{langCtrlData.text2[checkLang()]}}</p>
        </div>
        <div class="col-md-5" style="float: right;">
            <img alt="Golden Pyramid" src="images/Pyramid_Gold.jpg" style="width: 100%;">
        </div>
    </div>

</div>
