<div class="row">

    <div ng-include src="'partials/include/sidebar.html'"></div>

    <div class="col-md-9 " style=div"margin-top:0px;">

        <div ng-include src="'partials/include/pageheader.html'"></div>

        <div class="row" style="padding-top:50px;font-size:small;padding-left:15px;">
            <p style="text-align: justify;">{{langCtrlData.text1[checkLang()]}}</p>

            <p style="text-align: justify;">{{langCtrlData.text2[checkLang()]}}</p>

            <div class="col-md-5 text-center" style="float: right; ">

                <img alt="Bad Sample" src="images/Sample_Bad.jpg" style="width: 100%;">
                <p><small><strong>{{langCtrlData.text3[checkLang()]}}</strong></small></p>

            </div>

            <div class="col-md-7 alert alert-warning">
                <p class="glyphicon glyphicon-info-sign" style="text-align: justify;">&nbsp;&nbsp;{{langCtrlData.text4[checkLang()]}}</p>
            </div>

            <p style="text-align: justify;">{{langCtrlData.text5[checkLang()]}}</p>

            <p><strong>{{langCtrlData.text6[checkLang()]}}</strong></p>
            <ul class="col-md-offset-1">
                <li>{{langCtrlData.text7[checkLang()]}}</li>
                <li>{{langCtrlData.text8[checkLang()]}}</li>
                <li>{{langCtrlData.text9[checkLang()]}}</li>
                <li>{{langCtrlData.text10[checkLang()]}}</li>
            </ul>

            <div class="alert alert-warning">
                <p class="glyphicon glyphicon-info-sign" style="text-align: justify;">&nbsp;&nbsp;{{langCtrlData.text11[checkLang()]}}</p>
            </div>

            <div class="col-md-5 text-center" style="float: right;">

                <img alt="Sample Gravir" src="images/Grav_sample2.jpg" style="width: 100%;">
                <p><small><strong>{{langCtrlData.text12[checkLang()]}}</strong></small></p>

            </div>

            <p><strong>{{langCtrlData.text13[checkLang()]}}</strong></p>

            <p style="text-align: justify;">{{langCtrlData.text14[checkLang()]}}</p>
            <ul class="col-md-offset-1">
                <li>{{langCtrlData.text15[checkLang()]}}</li>
                <li>{{langCtrlData.text16[checkLang()]}}</li>
                <li>{{langCtrlData.text17[checkLang()]}}</li>
                <li>{{langCtrlData.text18[checkLang()]}}</li>
            </ul>
        </div>

    </div>
</div>
     
    