<div class="row">

    <div ng-include src="'partials/include/sidebar.html' "></div>


    <div class="col-md-9 " style="margin-top:0px;">

        <div ng-include src="'partials/include/pageheader.html' "></div>

        <div class="row" style="padding-top:50px;padding-left:15px;">
            <p><small>{{langCtrlData.text1[checkLang()]}}</small></p>

            <div class="col-md-5" style="float: right;">
                <img alt="Stone Service" src="images/stone.jpg" style="width: 100%;">
            </div>

            <p><strong><small>{{langCtrlData.text2[checkLang()]}}</small></strong></p>
            <ul class="col-md-offset-1">
                <li>{{langCtrlData.text3[checkLang()]}}</li>
                <li>{{langCtrlData.text4[checkLang()]}}</li>
                <li>{{langCtrlData.text5[checkLang()]}}</li>
            </ul>

            <p><strong><small>{{langCtrlData.text6[checkLang()]}}</small></strong></p>
            <ul class="col-md-offset-1" style="font-size:small">
                <li>{{langCtrlData.text7[checkLang()]}}</li>
                <li>{{langCtrlData.text8[checkLang()]}}</li>
                <li>{{langCtrlData.text9[checkLang()]}}</li>
                <li>{{langCtrlData.text10[checkLang()]}}</li>
            </ul>

            <p><strong><small>{{langCtrlData.text11[checkLang()]}}</small></strong></p>
            <ul class="col-md-offset-1" style="font-size:small">
                <li>{{langCtrlData.text12[checkLang()]}}</li>
                <li>{{langCtrlData.text13[checkLang()]}}</li>
            </ul>

            <p><strong><small>{{langCtrlData.text14[checkLang()]}}</small></strong></p>

            <p style="text-align:justify;"><small>{{langCtrlData.text15[checkLang()]}}</small>
            <p>

                <strong><em><small>{{langCtrlData.text16[checkLang()]}}</small></em><strong>

        </div>
    </div>
</div>
    