    
    <div class="row">
          
        <div ng-include src="'partials/include/sidebar.html' "></div>

    
<div class="col-md-9 " style="margin-top:0px;">
            
            <div ng-include src="'partials/include/pageheader.html' "></div>
          
            <div class="row" style="padding-top:50px;">
              Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. 
              Nullam id dolor id nibh ultricies vehicula ut id elit. 
              Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
              Praesent commodo cursus magna.
          </div>
          </div>
   </div>       
    