@font-face {
    font-family: 'Playfair Display'; /* Имя шрифта */
    src: url(../fonts/PlayfairDisplay-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Inconsolata'; /* Имя шрифта */
    src: url(../fonts/Inconsolata-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Ubuntu'; /* Имя шрифта */
    src: url(../fonts/Ubuntu-Light.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Quintessential'; /* Имя шрифта */
    src: url(../fonts/Quintessential-Regular.ttf); /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
    margin-bottom: 0;
}

body {
    min-width: 320px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #626262;
}

.container {
    max-width: 1020px;
    margin: 0 auto;
}

#navbarSupportedContent {
    width: 100%;
    float: right;
}

.navbar-list {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

.navbar-list a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: #b4ad9e;
}

a:hover {
    color: #898377;
}

p {
    line-height: 1.5rem;
}

h2 {
    margin: 1rem 0;
    font-size: 30px;
}

header {
    min-height: 50px;
}

header .navbar-light {
    background-color: #fff;
}

header .navbar-brand {
    font-family: "Quintessential";
    font-weight: 400;
    font-size: 30px;
    color: #000;
    /* text-transform: uppercase; */
    text-decoration: none;
    float: left;
}

header .nav-item {
    text-transform: uppercase;
    margin-left: 100px;
}

li.nav-item.simple {
    letter-spacing: 1px;
}

header .nav-item a::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
    transition: all 0.3s;
} 

header .nav-item a:hover::after {
    transform: scale(1);
}

/* SLIDER */

.slider {
    position: relative;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

.slide {
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;

}

.slide1 {
    background-image: url(../image/slider_1.jpg);
}

.slide2 {
    background-image: url(../image/slider_2.jpg);
}

.slide3 {
    background-image: url(../image/slider_3.jpg);
}

.slide4 {
    background-image: url(../image/slider_4.jpg);
}

.image-sliderfade {
    /* display: flex; */
    
    /* flex-flow: wrap;    */
    width: 70%;
    margin: 0 auto;
    
}

.sbtn__expand {
    flex-direction: column-reverse;
}

.sbtn__collapse {
    flex-direction: column;
}

.slider__text {
    color: #f2f2f2;
    font-size: 14px;
    padding: 20px 35px;
    z-index: 1;
    background: rgba(0,0,0,.5);
    text-align: left;
    
}

.sl__expand {
    margin-top: -60px;
    width: max-content;
    /* transition: all 1.7s ease-in-out; */
    transition: background-color 0.8s ease-in-out;
}

.sl__collapse {
    background: rgba(0,0,0,.8);
    /* margin-bottom: -464px; */
    width: 100%;
    /* height: 100%;
    padding-bottom: 44.49%; */
    transition: background-color 0.8s ease-in-out;
}


.collapse,
.expand {
    float: right;
    position: relative;
    margin-top: -15px;
    margin-right: -15px;
}

.expand > span {
    position: absolute;
    text-decoration: none;
    border-width: 0px 7px 12px 7px;
    border-color: transparent transparent #e31d1d transparent;
    border-style: solid;
    /* background-color: #ccc; */
    z-index: 2;
    cursor: pointer;
}

.collapse > span {
    position: absolute;
    text-decoration: none;
    border-width: 12px 7px 0 7px;
    border-color: #e31d1d transparent transparent transparent;
    border-style: solid;
    /* background-color: #ccc; */
    z-index: 2;
    cursor: pointer;
    margin-top: 2px;
}

.expand > span:hover {
    border-color: transparent transparent white transparent;
}

.collapse > span:hover {
    border-color: white transparent transparent transparent;
}

.content {
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    text-align: center;
    
}

div.slider__text.sl__collapse div.content p
 {
    font-size: 16px;
    text-align: justify;
}


div.slider__text.sl__collapse div.content ul
 {
    font-size: 16px;
    text-align: left;
}

/* div.slider__text.sl__collapse div.content li
{
    line-height: 30px;
} */

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: transparent;
    border-color: #ddd;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    display: inline-block;
    transition: border-color 0.6 ease;
    cursor: pointer;
}

#skill_level {
    font-size: 28px;
    line-height: 28px;
}

.active {
    border-color: #667;
}

.dot__circle {
    margin-top: 7px;
    text-align: center;
}

 .fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-image;
    animation-duration: 1.5s;
}

.cat-name,
.link-more {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #b4ad9e;
    text-transform: uppercase;
    font-weight: 300;
}

.cat-title {
    color: #626262;
}

.cat-post p {
    text-align: justify;
}

.cat-post ul li {
    margin-bottom: 5px;
}

.grid-posts {
    display: block;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100%;
}

.grid-posts .card {
    border: 0;
    margin: 0px;
}

.grid-posts .card-body {
    padding-left: 0;
    padding-right: 0;
    width: calc(100% - 100px);
    height: 60%;
    background-color: #96b2f4;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-posts .card-body .cb__start {
    height: 100%;
    width: 20px;
    border-width: 48px 0px 48px 20px;
    border-color: transparent transparent transparent white;
    border-style: solid;
    float: left;
}

.grid-posts .card-body .cb__text {
    display: inline-block;
    width: calc(100% - 70px);
    height: 100%;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    font-family: Tahoma;
    font-weight: 600;
    font-size: 22px;
    color: white;
    margin: 0 auto;
}

.cb__text > div {
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid-posts .card-body .cb__end {
    height: 100%;
    background: white;
    width: 45px;
    border-width: 50px 0px 48px 44px;
    border-color: transparent transparent transparent #96b2f4;
    border-style: solid;
    float: right;
}

.load-more {
    padding: 1rem 2rem;
    border-color: #626262;
}

.load-more span {
    display: none;
}

/* PORTFOLIO PART */

.current__project {
    width: 100%;
    height: 500px;
    /* background-color: gray; */
}

.current__project .wrapper {
    height: calc((100% - 120px)/2 + 145px);
    width: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: right;
    /* margin: 0 auto; */
}

.current__project .wrapper1 {
    height: 100%;
    float: right;
    width: 40%;
}

.project_circle {
    width:90px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}

.main_circle {
    width:120px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}

.outer__circle {
    position: relative;
    border-radius: 50%;
    border-style: none;
    background-color: rgb(131, 131, 224);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.inner__circle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    border-style: 1px solid rgb(75, 75, 75);
    background-color: white;
    width: 85%;
    height: 85%;
    margin: 0 auto;
    /* cursor: pointer; */
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#first__project {
    background-image: url(../image/PHP-logo.png);
    background-size: contain;
    cursor: pointer;
}

#first__project:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

#second__project {
    background-image: url(../image/Angular_full_color_logo.png);
    background-size: contain;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

#second__project:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

#third__project {
    background-image: url(../image/OpenCart_logo.png);
    background-size: contain;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 1);
}

#third__project:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

#sel__project {
    background-image: url(../image/MainCircle.jpg);
    background-size: cover;
}


.premodal {
    height: inherit;
    position: absolute;
}

.modal {
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    overflow: hidden;
    overflow-y: auto;
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in;
    pointer-events: auto;
    margin: 0;
    padding: 0;
    z-index: 1050;
    height: auto;
}

/* .modal:target {
    opacity: 1;
    pointer-events: auto;
    overflow-y: auto;
} */

.view_project_modal {
    width: 335px;
    background-color: rgba(255, 255, 255, .9);
    height: 500px;
    position: relative;
    border: 2px solid #d9d5d5;
    border-radius: 10px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}



/* .inner__circle:hover {
    
} */

.top__line {
    position: relative;
    top: 0;
    float: right;
    border-top: 1px solid gray;
    border-left: 1px solid gray;
    border-top-left-radius: 6px;
    float:right;
    width: 50%;
    height: calc((100% - 120px)/2);
}

.bottom__line {
    position: relative;
    top: calc((100% - 120px)/2);
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-bottom-left-radius: 6px;
    margin-left: 50%;
    width: 50%;
    height: calc((100% - 120px)/2);
}

.center__line {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: gray;
    width: calc(50% - 60px);
    height: 1px;
    right: 0px;
}

.top__line .start__point {
    margin-left: -3px;
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    top: calc(100% - 6px);
    position: absolute;
}

.top__line .end__point {
    float: right;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    top: -3px;
    position: relative;
}

.center__line .start__point {
    position: absolute;
    margin-left: -1px;
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    top: -3px;
}

.center__line .end__point {
    position: absolute;
    right: 0px;
    margin-left: 100%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    top: -3px;
}

.bottom__line .start__point {
    margin-left: -3px;
    float: left;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
}

.bottom__line .end__point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: black;
    top: calc(100% - 3px);
    position: absolute;
    margin-left: 100%;
    right: 0px;
}

.projects {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
    /* top: -59%; */
    display: flex;
    flex-direction: column;
}

.project {
    height: calc(100%/3.3);
    min-height: 162px;
    width: 100%;
    padding-left: 5px;
}

.about-projects {
    float: left;
    /* width: 25%; */
    width: 335px;
    /* background: blue; */
    height: inherit;
    position: absolute;
    text-align: center;
    /* border: 2px solid #d9d5d5;
    border-radius: 10px; */
    font-size: 26px;
    font-weight: 600;
    font-family: 'Inconsolata';
    padding-left: 3px;
}

.about-projects p {
    line-height: 34px !important;
}

.view_project {
    float: left;
    /* width: 25%; */
    width: 335px;
    background-color: rgba(255, 255, 255, .9);
    height: inherit;
    position: absolute;
    border: 2px solid #d9d5d5;
    border-radius: 10px;
} 

.first-project,
.second-project,
.third-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

.first-project > div img,
.second-project > div img,
.third-project > div img {
    margin-top: 10px;
}

.first-project div:nth-child(2),
.second-project div:nth-child(2),
.third-project div:nth-child(2) {
    align-self: stretch;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 35px;
}

.first-project div:nth-child(2) > div,
.second-project div:nth-child(2) > div,
.third-project div:nth-child(2) > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.first-project div:nth-child(3),
.second-project div:nth-child(3),
.third-project div:nth-child(3) {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

.first-project div:nth-child(3) a:nth-child(1),
.second-project div:nth-child(3) a:nth-child(1),
.third-project div:nth-child(3) a:nth-child(1) {
    float: left;
    margin-left: 20px;
    padding: 6px;
    background-color: #46a0b5;
    border-radius: 5px;
    text-decoration: none;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.first-project div:nth-child(3) a:nth-child(2),
.second-project div:nth-child(3) a:nth-child(2),
.third-project div:nth-child(3) a:nth-child(2) {
    float: right;
    margin-right: 20px;
    padding: 6px;
    background-color: red;
    border-radius: 5px;
    text-decoration: none;
    text-decoration: none;
    font-weight: 600;
    color: white;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

/* FOOTER PART */

footer {
    background-color: #f0f0f0;
    color: #000;
    margin: 0 -8px;
    text-align: center;
    height: 70px;
}

footer > div {
    display: inline-block;
    max-width: 1020px;
    margin: 0 auto;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

.footer-left {
    float: left;
    margin-left: 10%;
    position: relative;
}

.footer-right {
    float: right;
    margin-right: 10%;
    position: relative;
}

.footer-left a {
    color: #000;
    margin-right: 20px;
    text-decoration: none;
}

.footer-right a {
    color: #626262;
    margin-left: 20px;
    text-decoration: none;
}



@-webkit-keyframes fade-image {
    from {opacity: 0.4}
    to {opacity: 1}
}

@keyframes fade-image {
    from {opacity: 0.4}
    to {opacity: 1}
} 


.hide {
    display: none;
}

.show {
    display: flex;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}

#arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent rgb(204, 204, 204) transparent transparent;
    left: 0;
    margin-left: 20px;
}

#arrow-left:hover {
    border-color: transparent rgb(87, 87, 87) transparent transparent;
}

#arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent rgb(204, 204, 204);
    right: 0;
    margin-right: 20px;
}

#arrow-right:hover {
    border-color: transparent transparent transparent rgb(87, 87, 87);
}

/* Large Devices, Wide Screens */

/* @media only screen and (max-width: 1200px) {
    .about-projects,
    .view_project {
        width: 27%;
    }
} */

@media only screen and (max-width: 1199px) {
    .grid-posts .card-img-top {
        max-height: 300px;
        border-radius: 0;
    }

    /* .about-projects,
    .view_project {
        width: 30%;
    } */
}

@media only screen and (max-width: 1099px) {
    /* .view_project {
        width: 30%;
    } */

    .grid-posts .card-body .cb__text {
        font-size: 18px;
    }

    .current__project .wrapper {
        width: 38%;
    }
}

/* Medium Devices, Desktops */
/* @media only screen and (max-width: 992px) {
    
} */

@media only screen and (max-width: 991px) {
    header .nav-item {
        margin-left: 0;
    }
    .grid-posts .card-img-top {
        max-height: 220px;
        border-radius: 0;
    }

    .current__project .wrapper {
        display: none;
    }

    .current__project .wrapper1 {
        max-width: 60%;
        width: inherit;
    }
}

/* Small Devices, Tablets */
/* @media only screen and (max-width: 768px) {
    .about-projects,
    .view_project {
        width: 30%;
    }
} */


@media only screen and (max-width: 839px) {
    .current__project {
        display: flex;
    }

    .about-projects {
        display: none;
    }

    .current__project .wrapper1 {
        margin: 0 auto;
        max-width: 70%;
    }

    .content h2 {
        margin: 0px;
    }

    div.slider__text.sl__collapse div.content p {
        line-height: 20px;
        margin-top: 10px;
    }

    div.slider__text.sl__collapse div.content ul {
        
        margin-top: 5px;
    }
}

@media only screen and (max-width: 767px) {

    h2 {
        font-size: 28px;
    }

    p {
        margin-left: 10px;
        margin-right: 10px;
    }

    .content h2 {
        margin: -7px;
        font-size: 26px;
    }

    div.slider__text.sl__collapse {
        padding: 15px 20px;
    }

    div.slider__text.sl__collapse div.content p {
        line-height: 18px;
        font-size: 13px;
        margin-top: 5px;
    }

    div.slider__text.sl__collapse div.content ul {
        font-size: 13px;
        margin-top: 5px;
    }

    .collapse {
        margin-top: -10px;
        margin-right: 0px;
    }

    .grid-posts {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .grid-posts .card{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .grid-posts .card-img-top {
        max-height: 100%;
        border-radius: 0;
    }

    .current__project .wrapper1 {
        margin: 0 auto;
        max-width: 75%;
    }

}


/* Extra Small Devices, Phones */
@media only screen and (max-width: 575px) {
 
    h2 {
        font-size: 26px;
    }

    .current__project .wrapper1 {
        margin: 0 auto;
        max-width: 80%;
    }

    .content h2 {
        margin: -5px;
        font-size: 24px;
    }

    div.slider__text.sl__collapse div.content p {
        line-height: 18px;
        font-size: 12px;
        margin-top: 2px;
    }

    div.slider__text.sl__collapse {
        padding: 15px 20px;
    }

    div.slider__text.sl__collapse div.content ul {
        font-size: 12px;
        margin-top: 2px;
    }

    .collapse {
        margin-top: -10px;
        margin-right: 0px;
    }

    footer {
        padding: 5px 0;
    }

    footer > div {
        padding: 6px 0px;
        text-align: center;
    }

   .footer-left {
       margin-bottom: 5px;
       float: unset;
       margin-left: unset;
   }

   .footer-right {
       margin-bottom: 5px;
       float: unset;
       margin-right: unset;
   }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    .navbar-list { 
        display: none;
    }

    div.slider__text.sl__collapse {
        font-size: 10px;
        padding: 5px 10px;
    }

    div.slider__text.sl__expand {
        font-size: 10px;
        padding: 15px 25px;
        padding-left: 10px;
        padding-right: 25px;
    }

    .content h2 {
        font-size: 12px;
        margin: 0px 0;
    }

    div.slider__text.sl__collapse div.content p {
        font-size: 8px;
        text-align: justify;
        line-height: 10px;
        padding-left: 5px;
        padding-right: 5px;
        margin-top: 4px;
    }

    div.slider__text.sl__collapse div.content ul {
        font-size: 8px;
        text-align: left;
        padding-left: 23px;
        margin-top: 4px;
    }

    #skill_level {
        font-size: 18px;
        line-height: 18px;
    } 

    .sl__expand {
        margin-top: -45px;
    }

    .expand {
        margin-top: -10px;
        margin-right: -5px;
    }

    .collapse {
        margin-top: 0px;
        margin-right: 10px;
    }

    #arrow-right {
        margin-right: 12px;
    }

    #arrow-left {
        margin-left: 12px;
    }

    h2 {
        margin: 10px 0;
        font-size: 22px;
    }

    .cat-post p {
        line-height: 1.2rem;
        padding: 0px 3px;
    }

    .grid-posts {
        margin-top: 10px;
    }

    footer {
        padding: 5px 0;
    }

    footer > div {
        padding: 6px 0px;
        text-align: center;
    }

    .footer-left {
        margin-bottom: 5px;
        float: unset;
        margin-left: unset;
    }

    .footer-right {
        margin-bottom: 5px;
        float: unset;
        margin-right: unset;
    }
}
