<!-- Navbar
  ================================================== -->

<nav class="navbar navbar-inverse navbar-static-top " role="navigation">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="{{ brandhref() }}" ng-click="setClass(Dropmenu[0].url)">{{
                Dropmenu[0].text[checkLang()] }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">

                <li class="divider"></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="">{{Dropmenu[Dropmenu.length-1].text[checkLang()]}}<b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li ng-class="{disabled:checkClass(item.url)}" ng-repeat="item in submenu">
                            <a href="{{ item.url }}" ng-click="setClass(item.url)">{{ item.text[checkLang()] }}</a>
                        </li>
                    </ul>
                </li>

                <li ng-class="{disabled:checkClass(item.url)}" ng-if="!$first" ng-repeat="item in menu">
                    <a href="{{item.url}}" ng-click="setClass(item.url)">{{ item.text[checkLang()] }} </a>
                </li>

                <!--   <li><a>{{ URRL }} : {{Switch()}}</a></li> -->
            </ul>

            <div class="nav navbar-nav navbar-right" style="padding-top:7px;">
                <a class="btn btn-xs {{langButtonUA}}" ng-click="setLANG()" role="button" style="text-decoration: none;margin:0px;padding-top:0px;padding-bottom:0px;"
                   type="button">
                    <strong><small>УКР</small></strong>
                </a>
                <a class="btn btn-xs {{langButtonRU}}" ng-click="setLANG()" role="button" style="text-decoration: none;margin:0px;padding-top:0px;padding-bottom:0px;"
                   type="button">
                    <strong><small>РУС</small></strong>
                </a>
            </div>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->

</nav>
     
     
     